    body {
        padding-top: 70px;
    }
    
    header {
        position: fixed;
        top: 0;
        z-index: 3;
        width: 100%;
    }
    
    nav {
        font-size: 1.8rem;
        position: relative;
        filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2));
    }
    
    .navbar {
        background-color: var(--white);
        padding-top: 15px;
    }
    
    .navbar-nav {
        justify-content: space-around;
        width: 40%;
    }
    
    .nav-item {
        margin: 0 20px;
    }
    
    .navbar-nav .nav-link {
        color: var(--pink-dark);
        transition: transform 0.4s;
        transform-origin: 0 50%;
    }
    
    .nav-link:hover,
    .nav-link.active {
        color: #e24984;
        transform: scale(1.1);
    }
    
    .dropdown-item:hover {
        background-color: var(--pink-dark);
    }
    
    .navbar-toggler {
        color: var(--pink-dark);
        font-size: 2.4rem;
        outline: var(--pink-dark);
    }
    
    nav::after {
        -webkit-mask-image: url("../images/nav/frosting-down.png");
        background-color: var(--white);
        bottom: -28px;
        content: "";
        height: 32px;
        mask-image: url("../images/nav/frosting-down.png");
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    
    .dropdown-menu {
        background-color: var(--pink-light);
        border: none;
        font-size: 1.4rem;
    }
    
    .dropdown-toggle::after {
        display: none;
    }
    
    .navbar-nav .dropdown-menu a {
        color: var(--pink-dark);
    }
    
    .navbar-nav .dropdown-menu a:hover {
        color: var(--white);
    }
    
    .logo-lolita-nav {
        border-radius: 50%;
        position: relative;
        width: 60px;
        z-index: 2;
    }
    
    .logo-desktop {
        position: relative;
        top: 40px;
        width: 120px;
        border: 5px solid var(--white);
    }
    
    .nav-desktop {
        height: 50px;
    }
    
    @media all and (min-width: 768px) {
        .nav-item {
            margin: 0;
        }
        .navbar-nav .nav-link {
            transform-origin: 50% 50%;
        }
    }