img.banner-cakes {
    object-fit: cover;
    height: 500px;
    width: 100%;
}

.cupcake-banner {
    object-position: bottom;
}

.lunch-box-banner {
    object-position: top;
}

#steps {
    padding: 100px 20px;
    background-color: var(--pink-light);
}

.step {
    margin-bottom: 40px;
}

.instructions h2 {
    color: var(--pink-dark);
    font-size: 2.4rem;
    margin-bottom: 50px;
}

#steps h1 {
    color: var(--pink-dark);
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.cake-size h3 {
    color: var(--pink-dark);
    font-size: 2.4rem;
}

#steps p {
    color: var(--grey);
    font-size: 1.6rem;
}

.step h3 {
    color: var(--pink-dark);
    font-size: 2.4rem;
}

.cake-category p {
    line-height: 1.2rem;
}

#steps h4 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.number-container {
    background-color: var(--pink-dark);
    border-radius: 50%;
    border: 2px solid var(--white);
    color: var(--white);
    flex-shrink: 0;
    font-family: var(--number-font);
    font-size: 5rem;
    height: 50px;
    margin: -10px 10px 30px;
    width: 50px;
}

.cake-sizes {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cake-size {
    width: 100%;
}

.type-cake {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 20px;
    width: 100%;
}

.cake-size h3 {
    text-align: center;
    margin-bottom: 40px;
}

.cake-category {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.img-size {
    margin-right: 30px;
}

.img-size img {
    object-fit: cover;
    height: 170px;
    width: 170px;
}

.flavor-step {
    width: 100%;
}

.flavor-step h3 {
    margin-bottom: 40px;
}

.lunch-box h3 {
    margin-bottom: 0;
}

.lunch-box-flavor {
    margin-bottom: 40px;
}

.flavor-types {
    width: 100%;
}

.flavor-cakes {
    margin-bottom: 40px;
}

.flavor-cakes>div {
    width: 50%;
}

.flavor-cakes p {
    align-items: center;
    display: flex;
}

.payment-method p {
    margin-bottom: 50px;
}

footer:after {
    background: #feb1cd;
}

@media all and (min-width: 992px) {
    #steps {
        padding: 100px;
    }
    .number-container {
        font-size: 6rem;
        height: 60px;
        margin: -20px 50px 30px;
        width: 60px;
    }
}